@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  background-color: rgb(242, 242, 242, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1200px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  min-height: 64px;
}

.navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 238px;
  padding-right: 70px;
  min-height: 64px;
}

.logo-link {
  position: absolute;
  top: 0;
  left: 70px;
}

.logo-image {
}

.nav-menu {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
}

.nav-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.nav-link-active {
  text-decoration: underline;
  text-underline-offset: 25px;
}

.nav-link:hover {
  background-color: #1a8be7;
}

.user-menu {
  padding: 15px 70px 12px 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 268px;
  gap: 10px;
  justify-content: flex-end;
}

.user-link {
  margin-right: 30px;
  display: flex;
  justify-items: flex-start;
  width: 36px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
}

.user-link-search {
  margin-right: 5px;
}

.user-link-favourite {
  position: relative;
  margin-right: 81px;
}

.user-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.fav-count {
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 10px;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  padding: 5px 3px 0;
  display: block;
  min-width: 20px;
  height: 20px;
  position: absolute;
  right: 2px;
  top: -3px;
  box-sizing: border-box;
}

.user-item {
}

.button-login {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0 -70px;
  padding: 8px 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  background-color: rgba(117, 97, 87, 1);
  min-width: 160px;
  height: 36px;
  text-decoration: none;
  border-radius: 4px;
}

.button-login:hover,
.button-login:focus {
  background: rgba(97, 80, 72, 1);
}

.button-login:active {
  background: rgba(255, 255, 255, 0.3);
}

.main-index {
}

.welcome {
  background-color: #b3ece3;
  background-image: url("images/catalogue/star.svg"),
    url("../images/welcome-background.jpg");
  background-size: 1200px auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, center top;
  padding-top: 51px;
  padding-bottom: 82px;
  min-height: 352px;
}

.welcome-logo {
  display: block;
  margin: 0 auto 0 auto;
}

/*.slogan {
  background-color: rgb(224, 245, 242);
  margin-bottom: 21px;
  padding: 69px 290px 120px 290px;
  text-align: center;
}*/

.advantages {
  padding: 69px 0 0 0;
}

.welcome-slogan {
  margin: 0 auto 25px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  width: 702px;
}

.slogan-description {
  padding: 0;
  margin: 0 auto 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  width: 700px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list li {
  display: flex;
  min-height: 385px;
  
}

.advantage-with-image {
  background-color: #82b3d3;
  color: #ffffff;
  width: 100%;
}

.advantage-with-image .advantage-wrapper {
  width: 400px;
  padding: 102px 85px;
  flex-direction: column;
}

.advantage-without-image .advantage-wrapper {
  width: 400px;
  padding: 113px 83px;
  flex-direction: column;
}

.advantage-title {
  margin: 0;
  padding-bottom:30px;
  align-self:center;
  padding: 0 auto;
  font-size: 24px;
  font: weight 700;
  line-height: 28px;
  width: 175px;
  text-transform: uppercase;
  color: #000000;
  align-content:center;
}

.advantage-description {
  margin: 0;
  text-align: center;
  position: relative;
}

.advantage-with-image .advantage-description {
  margin: 0;
  color: #ffffff;
}

.advantage-without-image .advantage-description {
  margin: 0;
  color: #333333;
}

.advantage-with-image .advantage-title {
  margin: 0 0 25px 0;
  text-align: center;
  color: #ffffff;
}

.advantage-without-image .advantage-title {
  margin: 0 0 25px 0;
  text-align: center;
  color: #333333;
}

.advantage-description::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 85px;
  right: 85px;
  top: -30px;
}

.advantage-with-image .advantage-description::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantage-without-image .advantage-description::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantage-without-image:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-without-image:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-image {
  display: block;
  margin: auto 0;
}

.service-users {
  text-align: center;
}

.service-users-title {
  width: 505px;
  margin: 0 auto;
  padding: 64px 0 20px 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.service-users-description {
  margin: 0 auto;
  padding: 0 0 64px 0;
  width: 490px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  background: rgba(131, 179, 211, 0.12);
  padding: 186px 81px 85px;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  background-repeat: no-repeat;
  background-position: center 82px;
}

.service-item:nth-child(2n) {
  background-color: #ffffff;
}

.service-item-house {
  background-image: urlimages/catalogue/star.svg");
  background-size: 75px 72px;
}

.service-item-food {
  background-image: uimages/catalogue/star.svg);
  background-size: 74px 70px;
}

.service-item-presents {
  background-image: url(.images/catalogue/star.svg);
  background-size: 64px 76px;
}

.service-title {
  margin: 0 0 28px;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.service-description {
  margin: 0;
  padding: 0;
  width: 230px;
}

.hotel-search {
  margin: 0;
  padding: 96px 304px 96px 304px;
  text-align: center;
  background-color: #f5faf8;
}

.hotel-search-title {
  margin: 0 0 20px 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.hotel-search-description {
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 0;
}

.button-search {
  display: inline-block;
  min-width: 376px;
  max-width: 500px;
  background-color: #756157;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  padding: 8px 10px 9px;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 4px;
}

.button-search:hover,
.button-search:focus {
  background: rgba(97, 80, 72, 1);
}

.button-search:active {
  background: rgba(255, 255, 255, 0.3);
}
.subscription {
  padding: 96px 258px 104px 258px;
  margin: 0;
  color: #ffffff;
  text-align: center;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscription-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 20px, 0;
}

.subscription-description {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 0 54px, 0;
  width: 500px;
}

.subscription-form {
  display: flex;
}

.subscription-field {
  width: 452px;
  height: 52px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  border: none;
}

.button-subscription {
  width: 232px;
  height: 52px;
  background-color: rgba(130, 179, 211, 1);
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-style: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border-radius: 0px 4px 4px 0px;
  border: none;
}
.button-subscription:hover,
.button-subscription:focus {
  cursor: pointer;
  background: rgba(104, 162, 202, 1);
}

.button-subscription:active {
  background: rgba(130, 179, 211, 1);
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 40px 70px 30px 70px;
}

.footer-contacts {
}

.footer-contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
  max-width: 240px;
}

.footer-contacts-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 48px;
}

.social-icon {
  fill: rgba(131, 179, 211, 1);
}
.social-icon:hover,
.footer-contacts-link:hover,
.social-icon:focus .footer-contacts-link:focus {
  fill: rgba(104, 162, 202, 1);
}
.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}
.footer-phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  justify-self: center;
  max-width: 650px;
}

.footer-phone:hover,
.footer-phone:focus {
  color: rgba(117, 97, 87, 1);
}
.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  color: #000000;
}

.htmlacademy-link:hover,
.htmlacademy-link:focus,
.logo-icon:hover,
.logo-icon:focus {
  color: rgba(117, 97, 87, 1);
}
.htmlacademy-link:active,
.logo-icon:active {
  color: rgba(117, 97, 87, 0.3);
}

.catalogue-header{
  margin: 0;
  padding: 35px 70px 70px 70px;
  background-color: #4f7996;
  background-image: url("../images/catalogue/blurred-mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:#ffffff;
}

.filter-title {
  margin: 0 0 8px 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
.breadcrumbs-navigation {
  margin: 0 0 40px 0;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 10px;
}
.breadcrumbs-link-home {
  background-image: url(../images/catalogue/icon-home.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 13px;
  height: 15px;
  margin: 10px 5px 0 0;
}
.breadcrumbs-item {
  position: relative;
  margin-right: 20px;
}
.breadcrumbs-item::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 21px;
  right: -18px;
  bottom: 10px;
  background-image: url("../images/catalogue/breadcrumbs.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}
.breadcrumbs-item:last-child::after {
  content: none;
}

/*filters*/

.hotel-filter-form{
  margin: 0;
  padding:0;
  display: flex;
  justify-content: space-between;
  gap: 70px;
  min-width: 370px;
  max-width: 400px;
}
.hotel-filter-form ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hotel-filter-form li {
  margin-bottom: 16px;
  max-width: 100%;
}

.hotel-filter-form li:last-child {
  margin-bottom: 0;
}
.infrastructure-filter,
.accommodation-filter {
  min-width: 170px;
  max-width: 170px;
}
.catalogue-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0 0 32px 0;
  text-align: center;
}

.catalogue-filter-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.filter-label {
  line-height: 23px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}
.filter-input-checkbox {
  margin: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.filter-input-radio {
  margin: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.filter-input-checkbox:checked::before {
  background-image: url("../images/catalogimages/catalogue/star.svg");
  background-position: center;
  width: 13px;
  height: 10px;
  background-repeat: no-repeat;
  content: "";
}

.filter-input-radio:checked::before {
  background-color: #3f5e72;
  background-position: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-repeat: no-repeat;
  content: "";
}
.filter-input-checkbox:hover,
.filter-input-radio:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.filter-input-checkbox:hover + .filter-label,
.filter-input-radio:hover + .filter-label {
  color: rgba(255, 255, 255, 0.6);
}

.filter-input-checkbox:focus,
.filter-input-radio:focus {
  background-color: #ffffff;
  border: 3px solid #83b3d3;
}

.filter-input-checkbox:focus + .filter-label,
.filter-input-radio:focus + .filter-label {
  color: #ffffff;
}

.filter-input-checkbox:active,
.filter-input-radio:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.filter-input-checkbox:active + .filter-label,
.filter-input-radio:active + .filter-label {
  color: rgba(255, 255, 255, 0.3);
}
/* price filter*/

.price-filter {
  display: flex;
}


.range-wrapper {
  display: grid;
  
}
.min-price-label {
}
.min-price-input {
}
.price-label-text {
}
.max-price-label {
}
.max-price-input {
}
.price-label-text {
}

.range-scale {
}
.range-min {
}
.range-max {
}
.buttons-wrapper {
}
.apply-button {
}
.reset-button {
}

.search-results {
  margin: 0 0 40px 0;
  padding: 50px 70px 0 70px;
  display:flex; 
  flex-direction:row;
}

.search-results-title {
margin: 0;
margin-right: auto;
align-self: center;
max-width: 500px;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
  
}
.select-hotel-options {
  display: flex;
}
.search-select {
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  width: 292px;
  margin-right: 70px;
  border-radius: 4px;
  padding: 14px 70px 14px 20px; 
  align-self: flex-start;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.search-select:hover,
.search-select:focus {
  border: 2px solid #68a2ca;
}

.view-buttons-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
}
.view-buttons-item {
}
.view-link {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background-size: 16px 14px;
  background-position: center;
  background-repeat: no-repeat;
}
.view-link:hover {
  border-color: #000000;
}

.view-link:focus {
  outline: none;
  border-color: #68a2ca;
}

.view-link:active {
  border-color: #000000;
}

.view-link-current {
  border: 2px solid #000000;                              
}

.view-link-tile {
  background-image: url("../images/catalogue/View-icon.svg");
}

.view-link-cards {
  background-image: url("../images/catalogue/icon-slider.svg");
}

.view-link-list {
  background-image: url("../images/catalogue/icon-list.svg");
}



.accomodation {
  margin: 0 auto;
  width:1060px;
}
.accommodation-list {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 340px);
}

.accommodation-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  display: grid;
  column-gap: 20px;
  row-gap: 16px;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "accommodation-link accommodation-link"
                        "accommodation-type accommodation-price"
                        "more-link favourites"
                        "stars rating-value";
}
.accommodation-link {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  color:#000000;
  text-decoration: none;
  grid-area: accommodation-link;
}
.accommodation-link:hover,
.accommodation-link:focus {
  color: #756157;
}

.accommodation-link:active {
  color: rgba(117, 97, 87, 0.3);
}
.accommodation-photo {
  display: block;
  margin-bottom: 16px;
}
.accommodation-title {
  font-size: 24px;
  line-height: 28px;
  font-weight:700;
  color:#000000;
  text-decoration: none;
  text-align: left;
  margin: 0;
}
.accommodation-type {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: accommodation-type;
  color: #333333;
  margin: 0;
  align-self: flex-start;
}
.accommodation-price {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: accommodation-price;
  text-align: right;
  color: #333333;
  margin: 0;
}
.button-details {
 -ms-grid-row: 5;
- ms-grid-column: 1;
  grid-area: more-link;
  align-self: flex-start;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding: 8px 0;
  background-color: rgba(117, 97, 87, 1);
  min-width: 140px;
  min-height:36px;
}
.button-favourites {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: favourites;
  font-size: 16px;
  line-height: 20px;
  text-transform:uppercase;
  border-radius: 4px;
  color:#ffffff;
  font-weight: 700;
  min-width: 140px;
  min-height:36px;
}
.add-to-favourites {
  background-color: #82b3d3;
  align-self: flex-start;
}

.add-to-favourites:hover,
.add-to-favourites:focus {
  background-color: #68a2ca;
}

.add-to-favourites:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-added {
  background-color: #7db54f;
  align-self: flex-start;
}

.button-added:hover,
.button-added:focus {
  background-color: #6c9e42;
}

.button-added:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}
.stars {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: stars;
  min-height: 37px;
  margin: 0;
  align-self: flex-start;
}
.star {
  display: inline;
  background-size: 18px 17px;
  background-repeat: no-repeat;
}

.stars-4 {
  background-image: 
  url("../images/catalogue/star.svg"),
  url("../images/catalogue/star.svg"),
  url("../images/catalogue/star.svg"),
  url("../images/catalogue/star.svg");
  background-position: 0 center, 24px center, 48px center, 72px center;
}

.stars-3 {
  background-image: 
  url("../images/catalogue/star.svg"),
  url("../images/catalogue/star.svg"),
  url("../images/catalogue/star.svg");
  background-position: 0 center, 24px center, 48px center;
}

.stars-2 {
  background-image: 
  url("../images/catalogue/star.svg"),
  url("../images/catalogue/star.svg");
  background-position: 0 center, 24px center;
}
.rating-value {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  grid-area: rating-value;
  border-radius: 4px;
  padding: 8px;
}


.pagination-list {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  border-top: 1px solid #e6e6e6;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.pagination-item {
}
.pagination-link {
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  min-width: 60px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration:none;
  border-radius: 4px;
  padding: 8px 0;
}
.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
  outline: none;
  pointer-events: none;
}

.pagination-ellipsis {
  font-size: 22px;
  line-height: 26px;
  display: flex;
  min-width: 60px;
  min-height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.subscription-catalogue {
  padding: 96px 258px 104px 258px;
  margin: 0;
  color: #000000;
  text-align: center;
}

.subscription-catalogue-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 0 20px, 0;
}

.subscription-catalogue-description {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0 0 54px, 0;
  width: 570px;
  text-align: center;
  padding-left:85px;
}

.subscription-form {
  display: flex;
}

.subscription-field {
  width: 452px;
  height: 52px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  border-radius: 4px 0 0 4px;
  border: none;
  background-color: #f2f2f2;
}

.button-subscription {
  width: 232px;
  height: 52px;
  background-color: rgba(130, 179, 211, 1);
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-style: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  border-radius: 0px 4px 4px 0px;
  border: none;
}
.button-subscription:hover,
.button-subscription:focus {
  cursor: pointer;
  background: rgba(104, 162, 202, 1);
}

.button-subscription:active {
  background: rgba(130, 179, 211, 1);
}
